{{!-- LOGIN --}}
<form class="form login-form">
    <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
    </div>
</form>
</div>
{{!-- SIGNUP --}}
<div class="col-md-6">
<form class="form signup-form">
    <div class="form-group">
        <label for="name-signup">Name:</label>
        <input type="text" class="form-control" id="name-signup" aria-describedby="name"/>
    </div>
    <div class="form-group">
        <label for="email-signup">Email address:</label>
        <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="pasword-signup">Password</label>
        <input type="password" class="form-control" id="password-signup" placeholder="Password">
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>

<script src="./js/login.js"></script>