<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{post_text}}</p>
    <p>Created by {{user.username}} on {{format_date date_created}}</p>
    <p>
        <h4>Comment:</h4>
            <div class="form-group">
                <input class="form-input" type="text" id="post-comment" />
            </div>
        <button id="commentbtn" class="btn btn-primary">Submit</button>
    </p>
</div>