html,
body {
    height: 100%;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

a {
    color: black;
}
a:hover {
    color: rgb(72, 133, 199);
}
a:active {
    color: rgb(13, 56, 103);
}

.jumbotron {
    background-color: #0a483cae;
    color: #fff;
    text-shadow: rgb(5, 24, 30) 10px 5px 10px;
    padding: 10px 10px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px;
}

/* -------- NAVIGATION BAR ------------- */
.navbar {
    margin-bottom: 0;
    background-color: #203435df;
    z-index: 9999;
    border: 0;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #0fa84f !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
 */ 

 .no-button {
     background: none;
     border: none;
     padding: 0;
     cursor: pointer;
     color: #1b89bc;
     text-decoration: none;
     font-size: 100%;
 }

 .no-button:hover {
     color: #065b83;
     text-decoration: underline;
 }