html,
body {
    height: 100%;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h1 {
            font-family: 'Rubik Mono One', sans-serif;
            text-shadow: 2px 2px 5px rgb(74, 49, 20);
 }

.jumbotron {
    background-color: #0a483cae;
    color: #fff;
    text-shadow: #818181;
    padding: 50px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px;
}

/* -------- NAVIGATION BAR ------------- */
.navbar {
    margin-bottom: 0;
    background-color: #203435df;
    z-index: 9999;
    border: 0;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #0fa84f !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

